.myWork .mw h2 {
  text-align: center;
  padding-bottom: 4rem;
}

.myWork .workList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5.9rem;
}

.myWork .workList li {
  width: 100%;
  height: 30rem;
  border-radius: 3.4rem;
  padding-top: 4rem;
}

.myWork .workList li:nth-child(3) {
  margin-right: 0;
}
.myWork .workList li:nth-child(1) {
  background-color: #f1eaff;
}
.myWork .workList li:nth-child(2) {
  background-color: #ffe3db;
}
.myWork .workList li:nth-child(3) {
  background-color: #fff8f3;
}
.myWork .workList li:nth-child(4) {
  background-color: #d4ecdf;
}
.myWork .workList li:nth-child(5) {
  background-color: #f1eaff;
}
.myWork .workList li:nth-child(6) {
  background-color: #ddebff;
}

.myWork .workList li h3 {
  text-align: start;
  padding: 0 0 2.3rem 5rem;
}

/* 강사수정 */
.myWork .workList li img {
  text-align: center;
  border-radius: 3rem;
  background: lightgray 50% cover no-repeat;
  width: 100%;
  max-width: 40rem;
}

/* 짝수 번째 li들이 아래로 내려감 */
.myWork .workList li:nth-child(even) {
  margin-top: 19.6rem;
  margin-bottom: 20rem;
}

.myWork .moreCurcle {
  padding: 2.8rem 6.3rem;
  display: inline-block;

  border-radius: 20rem;
  border: 1px solid var(--color-bp);
}

/* 반응형일때 한줄로 */
@media (max-width: 1050px) {
  .myWork .workList {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  .myWork .workList li {
    height: 30rem;
  }
  .myWork .workList li img {
    width: 100%;
  }

  .myWork .workList li h3 {
    text-align: center;
    padding: 0;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .myWork .workList {
    grid-gap: 0;
  }
}
